a:hover{
	text-decoration: none;
}
body.auth_user{
	display: flex;
}
.blog-footer{
	padding: 2.5rem 0;
	color: #999;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}
.card-img-left{
	border-radius: 3px 0 0 3px;
}
.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}
.form-label-group, .checkbox{
	margin-top:20px;
}
.nav-stacked .nav-item{
	display: block;
	float: none;
}
.sidebar-admin .nav{
	display: block;
}
.row{
	margin: 0px;
}
@media (max-width: 992px) {
	.btn_login{
		display: none;
	}
}